.padding-0{
    padding:0 !important;
}
.padding-left-0{
    padding-left: 0 !important;
}
.full-width{
    width: 100% !important;
}
.ok-property-title{
    color: #006032;
    font-weight: bold;
    padding:10px;
}
.ok-ficha-tecnica{
    margin-top: 10px;
    padding:0 10px 0 10px;
}
.ok-ficha-tecnica-tit{
    color: #e9580c;
}
.informacion-propiedad{
    padding: 25px 20px;
    background-color: #FBF9F9;
}
.informacion-propiedad .dato-tec {
    color: #58595B;
}
.ok-caracteristicas-tit{
    padding: 5px;
    margin-top: 10px;
    color: #007b3c;
}
.ok-caracteristicas{
    margin-top: 10px;
    padding:10px;
}
.ok-caracteristicas .carac-item{
    display: block;
    padding: 8px;
    background-color: #fbf9f9;
    border: 4px solid white;
    border-top: none;
}
.color-orange{
    color: #e9580c;
}
.table thead {display: table-header-group}
.table tfoot {display: table-row-group}